doctype html
html
  head
    title Golu Dance Academy
    block scripts 
    block style 
  body
  nav#navbar
    ul
      div#logo
        img(src="/static/img/logo.png")
        | GDA
      li #[a(href="/") Home   ]
      li #[a(href="/") About]
      li #[a(href="/") Services ]
      li #[a(href="/") Class info ]
      li #[a(href="/contact") Contact Us]
  block body 
  footer#footer
    | Copyright Ⓒ 2023 GoluDanceAcadamy.com | All Right  Reserved